{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "importOrder": [
    "^@nestjs(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@utils(.*)$",
    "^@config(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
